%div(ng-app="FirmManager" ng-controller="FirmManagerCtrl")
  %b{style:"color:green;margin-left: 469px;"} {{data}}
  %h3 Firm Details
  %table.table(ng-form="myForm")
    %tbody
      %tr
        %td
          Name :
        %td
          %input.input-medium(type='text' placeholder='Name' ng-model="firmManager.name" required )
        %td
          POC :
        %td
          %input.input-medium(type='text' placeholder='POC' ng-model="firmManager.poc" required )
        %td
          Phone:
        %td
          %input.input-medium(type='text' placeholder='Phone' ng-model="firmManager.phone" required )
      %tr
        %td
          Email :
        %td
          %input.input-medium(type='text' placeholder='Email' ng-model="firmManager.email" required )
        %td
          Address :
        %td
          %input.input-medium(type='text' placeholder='Address' ng-model="firmManager.address" required )


  <br />
  %input.btn.btn-success(type='button' ng-click="submit_form()" value='create')

