%div(ng-app="PossibleExpenseManager" ng-controller="PossibleExpenseManagerCtrl")
  %b{style:"color:green;margin-left: 469px;"} {{data}}
  %h3 Firm Details
  %table.table(ng-form="myForm")
    %tbody
      %tr
        %td
          Name :
        %td
          %input.input-medium(type='text' placeholder='Name' ng-model="possibleExpenseManager.type" required )


  <br />
  %input.btn.btn-success(type='button' ng-click="submit_form()" value='create')

  %article
    %h1{"slide-toggle" => "#derp"} Click here and see the maqgic.
    #derp.slideable
      %p My name is akash m patel
      %p I love anguular
      %p contact me at akash.p@infibeam.net
    %p Your fresh bio appear above this paragraph.

