%div(ng-app="PossibleExpenseManager" ng-controller="ShowPossibleExpenseCtrl")
  .list-group
    .list-group-item(ng-repeat="expense in possibleExpenses")
      .row
        .col-md-2
          {{expense.type}}
        .col-md-8
          {{data}}
        .col-md-2
          %input.btn.btn-success(type='button' value="edit"){id:"makachodi_{{expense.id}}","slide-toggle" => "#expense_{{expense.id}}"}
      %div(ng-controller="UpdatePossibleExpenseCtrl"){class:"slideable", id:"expense_{{expense.id}}"}
        .row
          .col-md-10
            %input.input-medium(type='text' value="{{expense.type}}" placeholder='Expense Type' ng-model="expense.type" required )
            %input.input-medium(type='hidden' value="{{expense.id}}" ng-model="expense.id" required )
          .col-md-2
            %input.btn.btn-success(type='button' ng-click="update()" value='update')