%div(ng-app="phonecatApp" ng-controller="PhoneListCtrl")
  %input.search(type="text" ng-model="search" placeholder="Search.." autofocus=true )
  %li(ng-repeat='phone in phones = (phones | filter:search)')
    {{phone.name}} : {{phone.snippet}}