<%= form_for(:user, :url => {:controller => 'users', :action => 'signIn'}) do |f| %>
    <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
    <% end -%>
    <p>
      <%= f.label :Login %><br>
      <%= f.text_field :login_id %>
    </p>

    <p>
      <%= f.label :Password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>


