%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %nav
        %ul.nav
          %a{href: main_app.root_path}= image_tag 'logo_transparent.png'
        %ul.nav
          - if user_signed_in?
          - else
            %li= link_to "Sign up", main_app.new_user_registration_path
            %li= link_to "Sign in", main_app.new_user_session_path