%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %nav
        %ul.nav
          %a{href: "/"}
            %img{alt: "T1", src: "/assets/t1.png", style: "height:69px;"}

          %b{style:"font-size:36px;margin-left: 25px;"} Bhavnagar transport
        %ul.nav{style:"float:right;margin: 0 -146px 0 0;margin-top: 10px;"}
          - if user_signed_in?
            Logged in as
            = current_user.email
            %li{style:"float:left"}= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
            %li{style:"float:none"}= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
          - else
            %li= link_to "Sign up", main_app.new_user_registration_path
            %li= link_to "Sign in", main_app.new_user_session_path


