<!DOCTYPE html>
<html>
<head>
  <title>Haulage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</head>
<body>
<div class="container-fluid">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</div>

</body>
</html>
