%div(ng-app="BookingDetails" ng-controller="BookingDetailsCtrl")
  %b{style:"color:green;margin-left: 469px;"} {{data}}
  %h3 Booking Details
  %table.table(ng-form="myForm")
    %tbody
      %tr
        %td
          Gr_No :
        %td
          %input.input-medium(type='text' placeholder='gr_no' ng-model="bookingDetail.gr_no" required )
        %td
          Source :
        %td
          %input.input-medium(type='text' placeholder='source' ng-model="bookingDetail.source" required )
          %select(ng-model="bookingDetail.source" placeholder='consignor_id' ng-options='pos as pos for pos in sources')
        %td
          Destination :
        %td
          %input.input-medium(type='text' placeholder='destination' ng-model="bookingDetail.destination" required )
      %tr
        %td
          Consigner Name :
        %td
          %input.input-medium(type='text' placeholder='consignor_id' ng-model="bookingDetail.consignor_id" required )
        %td
          Consignee Name :
        %td
          %input.input-medium(type='text' placeholder='consignee_id' ng-model="bookingDetail.consignee_id" required )
        %td
          Dalal Name :
        %td
          %input.input-medium(type='text' placeholder='is_dalal' ng-model="bookingDetail.is_dalal" )
      %tr
        %td
          Description:
        %td
          %input.input-medium(type='text' placeholder='description' ng-model="bookingDetail.description" )
  %h3 Consignment Details
  #cdContainer
    %table.table(ng-form="myForm")
      %tbody
        %tr(ng-repeat="consignmentDetail in consignmentDetailList" )
          %td
            Type:
          %td
            %input.input-mini(type='text' placeholder='type' ng-model="consignmentDetail.type" )
          %td
            Quantity:
          %td
            %input.input-mini(type='text' placeholder='quantity' ng-model="consignmentDetail.quantity" )
          %td
            Name:
          %td
            %input.input-mini(type='text' placeholder='name' ng-model="consignmentDetail.name" )
          %td
            Weight:
          %td
            %input.input-mini(type='text' placeholder='weight' ng-model="consignmentDetail.weight" )
          %td
            Rate:
          %td
            %input.input-mini(type='text' placeholder='rate' ng-model="consignmentDetail.rate" )
          %td
            Amount:
          %td
            %input.input-mini(type='text' placeholder='amount' ng-model="consignmentDetail.amount" )
          %td
            Pvt.Marka:
          %td
            %input.input-mini(type='text' placeholder='pvt_marka' ng-model="consignmentDetail.private_marka" )
          %td
            %div{"ng-click" => "removePackage()"}
              %a.close &times;

    %button{"ng-click" => "addPackage()", :type => "button"} Add Package
  %br
  #cdContaine
    %table.table(ng-form="myForm")
      %tbody
        %tr
          %td
            Freight
          %td
            %input.input-mini(type='number' placeholder='Freight' ng-model="bookingDetail.type" )
        %tr
          %td
            Labour Charge:
          %td
            %input.input-mini(type='number' placeholder='Labout charge' ng-model="bookingDetail.quantity" )
        %tr
          %td
            Dalali Charge:
          %td
            %input.input-mini(type='number' placeholder='Dalali Charge' ng-model="bookingDetail.name" )
        %tr
          %td
            Tax Amount:
          %td
            %input.input-mini(type='number' placeholder='Tax amount' ng-model="consignmentDetail.weight" )
        %tr
        %tr
          %td
            Total Amount:
          %td
            %input.input-mini(type='text' placeholder='Total' ng-model="consignmentDetail.weight" )
  %input.btn.btn-success(type='button' ng-click="submit_form()" value='create')

