%div(ng-app="BranchManager" ng-controller="BranchManagerCtrl")
  %b{style:"color:green;margin-left: 469px;"} {{data}}
  %h3 Branch Details
  %table.table(ng-form="myForm")
    %tbody
      %tr
        %td
          Code :
        %td
          %input.input-medium(type='text' placeholder='Code' ng-model="branchManager.code" required )
        %td
          Name :
        %td
          %input.input-medium(type='text' placeholder='Name' ng-model="branchManager.name" required )
        %td
          City:
        %td
          %input.input-medium(type='text' placeholder='City' ng-model="branchManager.city" required )
      %tr
        %td
          POC :
        %td
          %input.input-medium(type='text' placeholder='POC Name' ng-model="branchManager.poc" required )
        %td
          Address :
        %td
          %input.input-medium(type='text' placeholder='Address' ng-model="branchManager.address" required )
        %td
          Under Branch :
        %td
          %input.input-medium(type='text' placeholder='Under Branch' ng-model="branchManager.under_branch" )
      %tr
        %td
          Service Tax No:
        %td
          %input.input-medium(type='text' placeholder='Service Tax No' ng-model="branchManager.service_tax_no" )

  <br />
  %input.btn.btn-success(type='button' ng-click="submit_form()" value='create')

