<h1>Welcome</h1>
<%= link_to "Log In", :controller => "users", :action => "login" %> <br />
<%= link_to "Booking Entry", :controller => "booking_details", :action => "new" %><br />
<%= link_to "Branch Entry", :controller => "branch_manager", :action => "new" %><br />
<%= link_to "Firm Entry", :controller => "firm_manager", :action => "new" %><br />
<%= link_to "Truck Entry", :controller => "truck_manager", :action => "new" %><br />
<%= link_to "Possible Expenses", :controller => "possible_expense_manager", :action => "new" %><br />


<p></p>
