%div(ng-app="TruckManager" ng-controller="TruckManagerCtrl")
  %b{style:"color:green;margin-left: 469px;"} {{data}}
  %h5{"slide-toggle" => "#derp"} Click here
  #derp.slideable
    %h3 Truck Details
    %table.table(ng-form="myForm")
      %tbody
        %tr
          %td
            Truck No :
          %td
            %input.input-medium(type='text' placeholder='Truck No' ng-model="truckManager.truck_no" required )
          %td
            Owner :
          %td
            %input.input-medium(type='text' placeholder='Owner' ng-model="truckManager.owner" required )
          %td
            Passing Date:
          %td
            %input.input-medium(type='text' placeholder='Passing Date' ng-model="truckManager.passing_date" required )
        %tr
          %td
            Permit Number :
          %td
            %input.input-medium(type='text' placeholder=' Permit Number' ng-model="truckManager.permit_number" required )
          %td
            Fitness Date :
          %td
            %input.input-medium(type='text' placeholder='Fitness Date' ng-model="truckManager.fitness_date" required)
          %td
            Hub Grease Km:
          %td
            %input.input-medium(type='text' placeholder=' Hub Grease Km' ng-model="truckManager.hub_grease_km" required )
        %tr
          %td
            Oil Grease Km:
          %td
            %input.input-medium(type='text' placeholder='Oil Grease Km' ng-model="truckManager.oil_grease_km" required )
          %td
            Truck Type:
          %td
            %input.input-medium(type='text' placeholder='Truck Type' ng-model="truckManager.truck_type" required )
          %td
            Insurance Date:
          %td
            %input.input-medium(type='text' placeholder='Insurance Date' ng-model="truckManager.insurance_date" required )
        %tr
          %td
            Starting Km:
          %td
            %input.input-medium(type='text' placeholder='Starting Km' ng-model="truckManager.starting_km" required )
          %td
            On Rent:
          %td
            %input.input-medium(type='text' placeholder='On Rent?' ng-model="truckManager.is_on_rent" required)


    <br />
    %input.btn.btn-success(type='button' ng-click="submit_form()" value='create')

