@media print{
  * {
    visibility:hidden;
  }
  #printable * {
    visibility:visible;
    font-size: small;
  }
  #printable {
    position:absolute;
    left:0;
    top:0;
  }
  #page-break{page-break-after:always;}
}